body {
	background-color: black;
	color: rgb(211, 208, 207); /* Celestial on cloth */
}

h1, h2 {
	color: rgb(156, 126, 81); /* Antique Gold on cloth */
}

.darkened, small {
	color: rgb(142, 138, 120); /* Matte on cloth */
}

a, a:visited {
	color: #6666ff;
}
a, a:hover {
	color: #aaaaff;
}


.kulinda_header {
	height: 32px;
	line-height: 32px;
	background-color: rgb(38, 23, 2); /* Midnight Gold on cloth */
}

.kulinda_header a {
	text-decoration: none;
}

.kulinda_header .links {
	position: absolute;
	height: 32px;
	z-index: 999;

	top: 0px;
	transition: top 0.5s ease;
}

.kulinda_header.open .links {
	top: 50px;
}

.kulinda_header .link {
	display: inline-block;
	margin-left: 20px;
	padding: 0px 10px;
	line-height: 32px;
	cursor: pointer;
	transition: color 0.5s ease, background-color 0.5s ease;
	background-color: rgb(38, 23, 2);
}

.kulinda_header .link.active {
	background-color: black;
}
.kulinda_header.open .link.active {
	background-color: #222;
}
.kulinda_header .link:hover {
	color: white;
}
